@using Blazor.Authentification

<div class="top-row px-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Troles-Dit</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="About">
                        <span class="oi oi-people" aria-hidden="true"></span> About Us
                    </NavLink>
                </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PostArea">
                <span class="oi oi-chat" aria-hidden="true"></span> PostArea
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Comunity">
                        <span class="oi oi-terminal" aria-hidden="true"></span> Comunity
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="MakePost">
                        <span class="oi oi-document" aria-hidden="true"></span> Post
                    </NavLink>
               </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Register">
                <span class="oi oi-plus" aria-hidden="true"></span> Register
            </NavLink>
        </div>
<AuthorizeView>
    <NotAuthorized>
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="Login">
                                    <span class="oi oi-lock-unlocked" aria-hidden="true"></span> Login
                                </NavLink>
                            </div>
    </NotAuthorized>
</AuthorizeView>
                 
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}