@page "/About"
<PageTitle>About us</PageTitle>
<div class="wrapper">
  <h1>Our Amazing Team</h1>
  <div class="team">
    <div class="team_member">
      <div class="team_img">
        <img src="https://scontent-cph2-1.xx.fbcdn.net/v/t39.30808-6/214634051_1429060010776109_4670678692501213064_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=0t_EP5UqRJYAX8hWhD2&_nc_ht=scontent-cph2-1.xx&oh=00_AT8StEZEseJBbJ1eifIk_2ghdjxcgahC93zOrfZjDQEvDA&oe=6247040F" alt="Team_image">
      </div>
      <h3>Ioanas Andrei</h3>
      <p class="role">Developer</p>
      <p class="subrole">(Cool during free time)</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="https://scontent-cph2-1.xx.fbcdn.net/v/t39.30808-6/264580102_3099947576938876_2512332696279951247_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=hm9125EnPIUAX9IUfAc&_nc_ht=scontent-cph2-1.xx&oh=00_AT_qsg6X2es24u7ribtg7ZlvOPiKM0b5RyqCLiiT8GwZlg&oe=6247B03D" alt="Team_image">
      </div>
      <h3>Freja Kammersgaard</h3>
      <p class="role">Developer</p>
      <p class="subrole">(Kitten during free time)</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
    </div>
  </div>
</div>
@code {
    
}