@page "/ForumPost/{index:int}"
@using Contracts
@using Entities
@inject IPostService PostService

@if (post == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @if (post != null)
    {
        <PageTitle>@post.title</PageTitle>
        <section class="content">
            <h2>@post.title</h2>
            <h3>@post.subtitle</h3>
            <br/>
            <p>
                @post.content
            </p>
        </section>
    }
    else
    {
        <p>
            <em>No posts to display.</em>
        </p>
    }
}



@code {
    
    [Parameter]
    public int index { get; set; }
    
    Post post = null;
    protected override async Task OnInitializedAsync()
    {
        post = await PostService.GetPost(index);
    }
    
}