@page "/"
<PageTitle>Troles-Dit</PageTitle>

<title>Welcome to Troles-Dit</title>

<p>Unfortunatly we have used all our budget(time) on implementing the coolest Redit rip-off you can think of.<br/> 
    As a resoult this, the main page ain't much to look at. Feel free to brows all other pages (some are visible only when logged in)<br/>
P.S. You might need to make an account first, make sure to remember your credentials!!
    </p>
