@page "/"
<PageTitle>Troles-Dit</PageTitle>

<title>Welcome to Troles-Dit</title>

<p>Welcome to the wanderful world of Troles-Dit.<br/> 
    Here you can post whatever your hearth desires. Feel free to browse around.<br/> If you want full acces do not forget to login or register as a new user<br/>
P.S. You might need to make an account first, make sure to remember your credentials!!
    </p>
<div class='tabs'>
	
    <div class="section section-1" id='tab-1'>
    	<div class="container-1"></div>
		<div class="background-color-1">
		<div class="shape-1"></div>
		<div class="shape-2"></div>
		<div class="shape-3"></div>
		<div class="shape-4"></div>
		<div class="shape-5"></div>
		<div class="shape-6"></div>
	</div>
    </div></div>