@page "/MakePost"
@using Entities
@using Contracts
@inject IPostService PostService
@inject NavigationManager NavMgr
<PageTitle>Posting</PageTitle>
<h3>MakePost</h3>

<EditForm Model="@newPostItem" OnValidSubmit="@AddNewPost">
    <DataAnnotationsValidator/> 
    <ValidationSummary/>
    <div class="box">
        <div class="form-group">
            <span>
                <label>Title</label><br/>
            </span>
            <span>
                <InputTextArea  @bind-Value="newPostItem.title"/>
            </span>
        </div>
        <div class="form-group">
            <span>
                <label>Subtitle(a short description):</label><br/>
            </span>
            <span>
                <InputTextArea  @bind-Value="newPostItem.subtitle"/>
            </span>
        </div>
        <div class="form-group">
            <span>
                <label>Content:</label><br/>
            </span>
            <span>
                <InputTextArea rows="4" @bind-Value="newPostItem.content"/>
            
            </span>
        </div>
        <p class="actions">
            <button class="btn btn-outline-dark" type="submit">Create</button>
        </p>
    </div>
    
</EditForm>
<label>@errorLabel</label>
@code {

    
    private Post newPostItem = new Post();
    private string errorLabel;
    
    private async Task AddNewPost()
    {
        errorLabel = "";
        try
        {

            await PostService.AddAsync(newPostItem);
        }
        catch (Exception e)
        {
            errorLabel = e.Message;
            return;
        }
        
        NavMgr.NavigateTo("/PostArea");
    }
}