@page "/MakePost"
@using Entities
@using Contracts
@inject IPostService PostService
@inject NavigationManager NavMgr
<PageTitle>Posting</PageTitle>
<h3>Make your post</h3>

<div class='tabs'>
	
    <div class="section section-1" id='tab-1'>
    	<div class="container-1"></div>
		<div class="background-color-1">
		<div class="shape-1"></div>
		<div class="shape-2"></div>
		<div class="shape-3"></div>
		<div class="shape-4"></div>
		<div class="shape-5"></div>
		<div class="shape-6"></div>
	</div>
    </div></div>
<EditForm Model="@newPostItem" OnValidSubmit="@AddNewPost">
    <DataAnnotationsValidator/> 
    <ValidationSummary/>
    <div class="box">
        <div class="form-group">
            <span>
                <label>Title</label><br/>
            </span>
            <span>
                <InputTextArea  @bind-Value="newPostItem.title"/>
            </span>
        </div>
        <div class="form-group">
            <span>
                <label>Subtitle(a short description):</label><br/>
            </span>
            <span>
                <InputTextArea  @bind-Value="newPostItem.subtitle"/>
            </span>
        </div>
        <div class="form-group">
            <span>
                <label>Content:</label><br/>
            </span>
            <span>
                <InputTextArea rows="4" @bind-Value="newPostItem.content"/>
            
            </span>
        </div>
        <p class="actions">
            <button class="button" type="submit"><span>Create</span></button>
        </p>
    </div>
    
</EditForm>
<label>@errorLabel</label>
@code {

    
    private Post newPostItem = new Post();
    private string errorLabel;
    
    private async Task AddNewPost()
    {
        errorLabel = "";
        try
        {

            await PostService.AddPostAsync(newPostItem);
        }
        catch (Exception e)
        {
            errorLabel = e.Message;
            return;
        }
        
        NavMgr.NavigateTo("/PostArea");
    }
}