@page "/PostArea"
@using Entities
@using Contracts
@inject IPostService PostService
@inject IUserService UserService
@inject NavigationManager NavMgr
<PageTitle>The vine</PageTitle>
<nav>
 @if (posts == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else if (!posts.Any())
        {
            <p>
                <em>No posts to display.</em>
            </p>
        }
        else
        {
            int cont = 0;
            foreach (var item in posts)
            {
                //Temp Fix...Unable to add css from code(without a lot of corner cutting)
                cont++;
                if (cont == 20)
                {
                    break;
                }

                
                    <ul>
                        <p class="box">
                            <span>@item.title</span>
                            <br/>
                            <strong class="subtitle">@item.subtitle</strong>
                            <br/>
                            <strong class="content">@item.content</strong>
                            <button @onclick="()=>OpenPost(item.ID)">&gt;</button>
                        </p>
                    </ul>


    
            
            }
            
        }
 
            </nav>
@code
{
    
    private ICollection<Post> posts;

    
    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetAsync();
    }
    private void OpenPost(int id)
    {
        NavMgr.NavigateTo($"/ForumPost/{id}");
    }
}